<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Ecliptix Code Analysis Rules" ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">

    <Rule Id="IDE0007" Action="Error" />
    <Rule Id="IDE0008" Action="None" />

    <Rule Id="IDE0021" Action="Info" />
    <Rule Id="IDE0022" Action="Info" />
    <Rule Id="IDE0024" Action="Info" />
    <Rule Id="IDE0025" Action="Info" />
    <Rule Id="IDE0026" Action="Info" />
    <Rule Id="IDE0027" Action="Info" />

    <Rule Id="IDE0040" Action="Error" />  
    <Rule Id="IDE0044" Action="Info" />  
    <Rule Id="IDE0049" Action="Error" />  

    <Rule Id="IDE0051" Action="Warning" />  
    <Rule Id="IDE0052" Action="Warning" />  
    <Rule Id="IDE0058" Action="None" />     
    <Rule Id="IDE0059" Action="Info" />  
    <Rule Id="IDE0060" Action="Warning" />  

    <Rule Id="IDE1006" Action="Error" />   

    <Rule Id="IDE0019" Action="Info" />  
    <Rule Id="IDE0020" Action="Info" />  
    <Rule Id="IDE0078" Action="Info" />  

    <Rule Id="IDE0029" Action="Info" />  
    <Rule Id="IDE0030" Action="Info" />  
    <Rule Id="IDE0031" Action="Info" />  

    <Rule Id="CA2007" Action="None" />     
    <Rule Id="CA1062" Action="Info" />  
    <Rule Id="CA1303" Action="None" />     
    <Rule Id="CA1304" Action="Info" />  
    <Rule Id="CA1305" Action="Info" />  
    <Rule Id="CA1307" Action="Info" />  
    <Rule Id="CA1308" Action="Warning" />  
    <Rule Id="CA1309" Action="Info" />  

    <Rule Id="CA1805" Action="Info" />  
    <Rule Id="CA1806" Action="Info" />  
    <Rule Id="CA1810" Action="Info" />  
    <Rule Id="CA1812" Action="None" />     
    <Rule Id="CA1813" Action="Warning" />  
    <Rule Id="CA1814" Action="Warning" />  
    <Rule Id="CA1815" Action="Info" />  

    <Rule Id="CA5350" Action="Error" />    
    <Rule Id="CA5351" Action="Error" />    
    <Rule Id="CA5358" Action="Error" />    
    <Rule Id="CA5359" Action="Error" />    
    <Rule Id="CA5360" Action="Error" />    
    <Rule Id="CA5361" Action="Error" />    
    <Rule Id="CA5362" Action="Error" />    
    <Rule Id="CA5363" Action="Error" />    
    <Rule Id="CA5364" Action="Error" />    
    <Rule Id="CA5365" Action="Error" />    
    <Rule Id="CA5366" Action="Error" />    
    <Rule Id="CA5367" Action="Error" />    
    <Rule Id="CA5368" Action="Error" />    
    <Rule Id="CA5369" Action="Error" />    
    <Rule Id="CA5370" Action="Error" />    
    <Rule Id="CA5371" Action="Error" />    
    <Rule Id="CA5372" Action="Error" />    
    <Rule Id="CA5373" Action="Error" />    
    <Rule Id="CA5374" Action="Error" />    
    <Rule Id="CA5375" Action="Error" />    
    <Rule Id="CA5376" Action="Error" />    
    <Rule Id="CA5377" Action="Error" />    
    <Rule Id="CA5378" Action="Error" />    
    <Rule Id="CA5379" Action="Error" />    
    <Rule Id="CA5380" Action="Error" />    
    <Rule Id="CA5381" Action="Error" />    
    <Rule Id="CA5382" Action="Error" />    
    <Rule Id="CA5383" Action="Error" />    
    <Rule Id="CA5384" Action="Error" />    
    <Rule Id="CA5385" Action="Error" />    
    <Rule Id="CA5386" Action="Error" />    
    <Rule Id="CA5387" Action="Error" />    
    <Rule Id="CA5388" Action="Error" />    
    <Rule Id="CA5389" Action="Error" />    
    <Rule Id="CA5390" Action="Error" />    
    <Rule Id="CA5391" Action="Error" />    
    <Rule Id="CA5392" Action="Info" />    
    <Rule Id="CA5393" Action="Error" />    
    <Rule Id="CA5394" Action="Error" />    
    <Rule Id="CA5395" Action="Error" />    
    <Rule Id="CA5396" Action="Error" />    
    <Rule Id="CA5397" Action="Error" />    
    <Rule Id="CA5398" Action="Error" />    
    <Rule Id="CA5399" Action="Error" />    
    <Rule Id="CA5400" Action="Error" />    
    <Rule Id="CA5401" Action="Error" />    
    <Rule Id="CA5402" Action="Error" />    
    <Rule Id="CA5403" Action="Error" />    
  </Rules>
</RuleSet>